In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
p = 'C:/Users/Rishabh/Desktop/Gaurav Python Codes/Projects/My_Project - Mumbai Rent Predictor/Mumbai_99acers.csv'
mumbai_data = pd.read_csv(p)
mumbai_data.head(3)

,sl no.,society,type,location,lattitude,longitude,bedrooms,built-up area,furnishing,age,...,dealer,posted,monthly rent,property photo,property video,society photo,society video,locality photo,locality video,description
0,1,Bandstand Apartment,Residential Apartment,Bandra (West),19.047353,72.820068,2 BHK,800.0,Furnished,5 to 10 years old,...,PROPBAY,Jul-05-2018,85000,2,0,3,0,0,0,Description : 2 bhk apartment for rent in band...
1,2,Fantastic Apartment,Residential Apartment,Khar West,19.071690,72.834127,2 BHK,1050.0,Furnished,1 to 5 years old,...,PROPBAY,Jul-05-2018,110000,0,0,0,0,1,0,Description : 2 bhk apartment for rent in khar...
2,3,Gajra Bhoomi Symphony,Residential Apartment,Sector-20 Koparkhairane,19.109368,73.001346,2 BHK,1050.0,Unfurnished,1 to 5 years old,...,AAKASH REAL ESTATE,Jul-07-2018,32000,0,0,0,1,0,0,Description : 2 bhk flat available for rent in...

In [3]:
mumbai_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13541 entries, 0 to 13540
Data columns (total 22 columns):
sl no.            13541 non-null int64
society           13541 non-null object
type              13541 non-null object
location          13541 non-null object
lattitude         2174 non-null float64
longitude         2174 non-null float64
bedrooms          13541 non-null object
built-up area     13541 non-null float64
furnishing        13541 non-null object
age               13541 non-null object
floor             13541 non-null object
total floors      13541 non-null object
dealer            13478 non-null object
posted            13541 non-null object
monthly rent      13541 non-null int64
property photo    13541 non-null int64
property video    13541 non-null int64
society photo     13541 non-null int64
society video     13541 non-null int64
locality photo    13541 non-null int64
locality video    13541 non-null int64
description       13541 non-null object
dtypes: float64(3), int64(8), object(11)
memory usage: 2.3+ MB

In [4]:
mumbai_data.isnull().sum()

sl no.                0
society               0
type                  0
location              0
lattitude         11367
longitude         11367
bedrooms              0
built-up area         0
furnishing            0
age                   0
floor                 0
total floors          0
dealer               63
posted                0
monthly rent          0
property photo        0
property video        0
society photo         0
society video         0
locality photo        0
locality video        0
description           0
dtype: int64

In [4]:
mumbai_data_1 = mumbai_data.drop([
    'sl no.','lattitude','longitude','dealer','posted','property photo','property video','society photo','society video','locality photo','locality video','description'
], axis ='columns')
mumbai_data_1.head()

,society,type,location,bedrooms,built-up area,furnishing,age,floor,total floors,monthly rent
0,Bandstand Apartment,Residential Apartment,Bandra (West),2 BHK,800.0,Furnished,5 to 10 years old,2nd,6,85000
1,Fantastic Apartment,Residential Apartment,Khar West,2 BHK,1050.0,Furnished,1 to 5 years old,8th,12,110000
2,Gajra Bhoomi Symphony,Residential Apartment,Sector-20 Koparkhairane,2 BHK,1050.0,Unfurnished,1 to 5 years old,14th,17,32000
3,Crescent Bay,Residential Apartment,Parel,3 BHK,2275.0,Semifurnished,1 to 5 years old,40th,41,150000
4,Ashwini CHS,Residential Apartment,Tilak Nagar,1 BHK,550.0,Semifurnished,5 to 10 years old,4th,7,27000

In [5]:
mumbai_data_1 = mumbai_data_1.replace({'floor': ['Ground','ried']}, 0)

In [6]:
mumbai_data_1 = mumbai_data_1.replace({
    'bedrooms':'[A-Za-z]',
    'floor':'[A-Za-z]',
    'total floors':'[A-Za-z]'
},'',regex = True)
mumbai_data_1

,society,type,location,bedrooms,built-up area,furnishing,age,floor,total floors,monthly rent
0,Bandstand Apartment,Residential Apartment,Bandra (West),2,800.0,Furnished,5 to 10 years old,2,6,85000
1,Fantastic Apartment,Residential Apartment,Khar West,2,1050.0,Furnished,1 to 5 years old,8,12,110000
2,Gajra Bhoomi Symphony,Residential Apartment,Sector-20 Koparkhairane,2,1050.0,Unfurnished,1 to 5 years old,14,17,32000
3,Crescent Bay,Residential Apartment,Parel,3,2275.0,Semifurnished,1 to 5 years old,40,41,150000
4,Ashwini CHS,Residential Apartment,Tilak Nagar,1,550.0,Semifurnished,5 to 10 years old,4,7,27000
...,...,...,...,...,...,...,...,...,...,...
13536,Runwal Greens,Residential Apartment,Mulund (West),3,1382.0,Semifurnished,0 to 1 years old,27,40,48000
13537,Mehr Dad,Residential Apartment,Chamundeshwari Nagar,3,1750.0,Unfurnished,10+ years old,9,16,200000
13538,Raj Tower,Residential Apartment,Sector 19 Kharghar,2,950.0,Semifurnished,5 to 10 years old,8,10,25500
13539,"Off Waterfield Road, Bandra West",Residential Apartment,Bandra (West),3,2500.0,Furnished,5 to 10 years old,5,10,120000
13540,Palm Villa B,Residential Apartment,Kalina,2,800.0,Unfurnished,10+ years old,,4,50000

In [7]:
mumbai_data_1['floor'] = mumbai_data_1['floor'].astype(int)

ValueError: invalid literal for int() with base 10: ' '

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [ ]:
mumbai_data_2 = mumbai_data_1.copy()

In [ ]:
mumbai_data_2.iloc[:,0] = enc.fit_transform(mumbai_data_2.society)
mumbai_data_2.head()

In [ ]:
mumbai_data_2.iloc[:,2] = enc.fit_transform(mumbai_data_2.location)
mumbai_data_2.head()

In [ ]:
type_dummies = pd.get_dummies(mumbai_data_2['type'], drop_first = True)
type_dummies

In [ ]:
furnishing_dummies = pd.get_dummies(mumbai_data_2['furnishing'], drop_first=True)
furnishing_dummies

In [ ]:
age_dummies = pd.get_dummies(mumbai_data_2['age'], drop_first=True)
age_dummies

In [ ]:
final_data = pd.concat([mumbai_data_2,type_dummies,furnishing_dummies,age_dummies], axis = 'columns')
final_data.head()

In [ ]:
final_data.drop(['type','furnishing','age'], axis = 'columns', inplace = True)
final_data

In [ ]:
final_data.info()